/* clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
}

.alignleft{
	float: left;
}

/*******************************************
/* BASE STYLES
/********************************************/

body {
	font-family: 'Lato', sans-serif;
	color: #033048;
	max-width: 100%;
}
.header {
	width:100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.first-container {
	background-color: white;
	margin: 200px 0 60px 0;
	padding: 20px;
}

.container {
	padding: 15px;
}

.logo {
	font-size: 24px;
	font-weight: 900;
	margin: 0 auto;
	padding: 30px 0 0 0;
	text-decoration: none;
	text-align: center;
}

.intro {
	font-size: 72px;
	text-align: center;
}

p {
	text-align: center;
}
.about {
	padding: 50px 0 40px 0;
}

.hi {
	font-size: 20px;
	font-weight: 900;
}

li {
	list-style: none;
	margin: 0;
	display: inline-block;
}

a:visited { 
	text-decoration: none; 
	color: #033048; 
}

.menu-option {
	margin: 0;
	padding: 0 20px 0 20px;
	display: inline-block;
}

.menu {
	color: black;
	font-size: 24px;
	font-weight: 700;
	margin: 100px 0 200px 0;
	overflow: hidden;
	text-decoration: none;
}

.nav {
	color: black;
	font-size: 16px;
	font-weight: 700;
	margin: 0;
	overflow: hidden;
	text-decoration: none;
}

ul {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}

.bar {
	padding: 35px 120px 25px 20px;
	overflow: hidden;
}

.body {
	text-align: center;
	display: block;
}

.main {
	font-size: 16px;
}

.bottom {
	text-align: center;
	margin: 0 auto;
	/*padding: 0 0 20px 0;*/
	overflow: hidden;
}

.footer {
  width: 100%;
  background-color: #d3d3d3;
  color: white;
  text-align: center;
  padding: 30px 0 15px 0;
}

.footer-nav{
  /*margin-left: 450px;*/
  width: 50%;
  margin: 0 auto;
  padding: 20px 0 0 0;
  display: inline-block;
}

.contact-info {
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	margin: 0 auto;
	color: white;
	padding: 15px 0;
}

.copyright {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  margin: 0 auto;
  color:white;
  padding: 5px 0 15px 0;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    background-color: black;
    /*border: solid black;*/
    margin: 0;
    padding: 0;
}

.picture {
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 3px;
	border: 2px solid black;
}

.picture2 {
	max-width: 150px;
	height: auto;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 0 0 70px 0;
}

#body {
	padding: 70px 0 0 30px;
}

.skills {
	font-size: 18px;
	text-align: center;
	display: block;
	margin: 0 auto;
}
.hide {
	display: none;
}
.readmore {
	font-size: 24px;
	text-decoration: none;
}
.school {
	font-weight: 900;
	font-style: bold;
}